*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

:root{
  --primary-color: #DE5631;
  --secondary-color: #d8603b; /* this is 80% of primary color, but still opaque*/
  --tertiary-color: rgb(242, 187, 173); /* this is 40% of the primary color, but still opaque*/
  --dark-color: rgba(0,0,0,80%);
  --dark-color-light: rgba(30,29,28);
}

body{
  font-size: 1em;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: underline;
  color: #333;
}

ul {
  list-style: none;
}

img{
  max-width:100%;
}

/* Navbar */
/* off screen menu*/
.off-screen-menu {
  background-color:  var(--dark-color-light);
  padding-left: 2em;
  height: 100vh;
  width: 100%;
/*  max-width: 350px;
  min-height: fit-content;
  min-height:  850px;*/
  max-width: fit-content;
  position: fixed;
  top: clamp(1.5rem, 3vw, 2.5rem);
  left: -450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  transition: .3s ease;
  overflow-y: auto;
  z-index: 900;
  vertical-align: top;
}
@media screen and (max-height: 450px) {
  .off-screen-menu, .dropdown {
    height: 80vh;
    top: 11vw;
  }
}/*
@media screen and (max-height: 767px) {
  .off-screen-menu, .dropdown {
    height: 90vh;
    top: 5vw;
    background:pink
  }
}*/
.off-screen-menu .dropdown{
  top:clamp(1.5rem, 5vw, 2.5rem);
  margin-top: clamp(1.5rem, 5vw, 2.5rem);
  padding-bottom: 10px;
}
.off-screen-menu ul li{
  margin-top: .5em;
  margin-right: 10px;
  :hover{
    color: var(--tertiary-color);
  }
}
.off-screen-menu ul li a{
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: var(--primary-color);
}

.off-screen-menu ul li a img{
  width: auto;
  height: clamp(1.5rem, 5vw, 2.5rem);
  padding-right: 10px;
}

#instagram{
  padding-left: clamp(1.5rem, 5vw, 2.5rem);
}

.off-screen-menu.active {
  left: 0;
}

.navbar{
  background: var(--primary-color);
  padding:1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar .container .main-menu-sm {
  display: flex;
  align-items:  center;
}
.navbar .container .main-menu-sm .menu-text{
  padding: 0.5rem;
  font-weight: bold;
  font-size:1.3em;
}


/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 4px;
  width: 100%;
  background-color: var(--dark-color-light);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#nav-logo{
  display: flex;
  max-width:80px;
  max-height:80px;
  place-self: end;
  margin-right: 20%;
  background-color:white ;
  border-radius: 3px;
}
#nav-logo:hover{
  background-color: var(--tertiary-color);
}
/*END OF NAV*/

/* Body */
.main-content{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  place-self: center;
}


/* Main Body */
.main-body{
  margin: 1.5em 0;
}

.main-body .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  font-weight: 600;
  margin: 10px 20px;
  flex-wrap: nowrap;
}
.main-paragraph, .row{
  width: 100%;
}

.main-content .main-body .logo, #block-text-bulldog-row{
  align-items: center;
  justify-content: center;
}

.main-body .team-pic{
 /* border: black 1em solid;*/
  display: flex;
  border: black 6px solid;
  border-radius: 2px;
}

.main-body .row{
  text-align: center;
}

.pic-words{
  display: inline-block;
  width: 100%;
  background: black;
  color: white;
  font-size: clamp(1.5rem, 6vw, 3rem);
  padding-bottom: .35em;
}

.main-body-text{
  margin-top: 50px;
  margin-bottom: 50px;
}
h1,
.main-body-text h1,
.main-content .main-paragraph .main-text h1,
.main-content .main-paragraph h1,
.main-content .main-paragraph .column-text h1{
  font-size: clamp(1.5rem, 6vw, 3rem);
  margin: 1.5em;
}
h2,
.main-body-text h2,
.main-content .main-paragraph .main-text h2{
  font-size: clamp(1.4rem, 5vw, 2.8rem);
  margin: 1.3em;
}
h3,
.main-body-text h3{
  font-size: clamp(1.3rem, 4vw, 2.7rem);
  margin: .2em 0 .2em 0;
}
h4{
  font-size: clamp(1.15rem, 3.7vw, 2.3rem);
  margin: .2em 0 .2em 0;
}
hr {
  margin: 1em 0 .5em 0;
}

.bike-as-bullet{
  max-width: clamp(1.5rem, 6vw, 3rem);
  max-height: clamp(1.3rem, 4vw, 2.7rem);
}
.main-body-text img{
  max-width:10em;
  max-height: 10em;
  background: white;
}
.main-text, .column-text,
.main-body-text .main-text,
.main-body-text .main-text .list-need-justified,
.main-content .main-paragraph .main-text,
.main-content .main-paragraph .column-text .main-text .main-text,
.main-content .main-body-text .main-paragraph .column-text .main-text .list-need-justified {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  font-weight: normal;
}
.list-need-justified,
.main-body-text .main-paragraph .column-text .list-need-justified,
.main-content .main-body-text .main-paragraph .column-text .main-text .list-need-justified{
  align-self: center;
  justify-self: center;
  text-align: start;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}
.gear-list{
  text-align: start;
}
.center-text{
  text-align: center;
}
.main-body .main-body-text .main-paragraph .row{
  align-self: center;
  justify-self: center;
}
.main-body .main-body-text .main-paragraph .column-pic {
  margin: 10px;
}

.main-body .main-body-text .main-paragraph .column-text {
  width: 100%;
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
}
/* STYLE FOR COACHES and STUDENT CAPTAIN PICS */
.main-content  .main-paragraph .column-pic .coaches-pics ,
.main-content  .main-paragraph .column-pic .captains-pics
{
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 2%;
  padding: 2% 2% 2% 2%;
}
.main-content  .main-paragraph .column-pic .gallery-pics{
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 2%;
  padding: 2% 2% 10% 2%;
}
.main-content .main-paragraph .column-pic .coaches-pics .coaches,
.main-content .main-paragraph .column-pic .captains-pics .captains
{
  max-width: 350px;
  max-height:400px;
  background: black;
  border: black 4px solid;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
.main-content .main-paragraph .column-pic .gallery-pics .thumbnails{
  max-width: 450px;
  max-height:500px;
  background: black;
  border: black 4px solid;
  border-radius: 2px;
  align-content: center;
padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.main-content .main-paragraph .column-pic .coaches-pics .coaches . img,
.main-content .main-paragraph .column-pic .captains-pics .captains .img{
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: block;
}
.main-content .main-paragraph .column-pic .gallery-pics .thumbnails .img{
  width: 100%;
  object-fit: cover;
overflow: hidden;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.pic-words-small,
.main-content .main-paragraph .column-pic .gallery-pics .thumbnails .pic-words-small{
  width: 100%;
  background: black;
  color: white;
  padding-bottom: 1em;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: clamp(.8rem, 2vw, 1.5em);
}


.color-this{
  color: var(--primary-color);
}
/* FAQ's */
.main-body .faq{
  padding:40px 0;

}

.faq-item {
  border-bottom: 2px solid var(--dark-color);
  padding: 10px 0;
}

.faq-question {
  background: var(--tertiary-color);
  border: none;
  width: 100%;
  text-align: left;
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 600;
  color: var(--dark-color-light);
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.icon {
  font-size: 1.5rem;
  color: var(--dark-color);
}

.faq-answer {
  padding: 10px;
  background: white;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  font-weight: normal;
  color: var(--dark-color-light);
  display: none;
  text-align: left;
}

.faq-question.active .icon {
  content: "-";
}

@media screen and (min-width: 1104px) {
  .main-content .main-paragraph .column-pic .coaches-pics,
  .main-content .main-paragraph .column-pic .captains-pics
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.footer{
  width: 100%;
  background-color: var(--primary-color);
  padding:10px;
  text-align: center;
  font-size: 1.8em;
}
.footer-container{
  font-size: clamp(1rem, 2vw, 2rem) ;
}



/*Buttons*/
.btn, .button-link{
  display: inline-grid;
  font-family: "Roboto Slab",  serif;
  padding: 10px 10px;
  background: #000000;
  color: #ffffff;
  font-weight: 600;
  font-size:  clamp(1.15rem, 1.7vw, 2rem);
  text-decoration: none;
  min-width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 10px 10px 10px ;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover, .button-link:hover{
  color: var(--tertiary-color);
}
